# Chipotle - Getting and Knowing your Data

This Exercise was taken from: https://github.com/guipsamora/pandas_exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

In [1]:
# Solution 1

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How many products cost more than $10.00?